.postCount{
    margin: 1rem auto auto auto;
}

.postCountDiv{
    margin: 0 0 0 15.16%;
    border-bottom: 0.1rem solid gray;
    width: 85%;
}

.postCount h4{
    color: blue;
    font-size: large;
    padding: 0.7rem 0;
    border: 0.1rem solid gray;
    border-bottom: none;
    text-align: center;
    width: 15%;
}

.postDiv{
    margin: 1rem auto;
    width: 65%;
}

.postContent{
    border-bottom: 0.1rem solid gray;
    padding: 2rem;
}

.postContent .title{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.postContent .title h2{
    font-weight: bolder;
}

.postContent .foot{
    margin: 1rem auto;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.postContent .foot span{
    font-weight: 600;
    color: dimgray;
}

.postContent .foot span .category{
    color: lightskyblue;
}

.postContent .foot div p{
    font-weight: 500;
    color: gray;
}

@media screen and (max-width: 750px) {
    .postDiv{
        width: 80%;
    }
}